.color-f {
  color: #fff;
}

%pos-left-center {
  left: 50%;
  transform: translateX(-50%);
}

%just-between {
  display: flex;
  justify-content: space-between;
}

@mixin wh($width, $height, $flag: n) {
  @if($flag == w) {
    width: $width * 1%;
    height: $height * 1px;
  } @else if($flag == h) {
    width: $width * 1px;
    height: $height * 1%;
  } @else {
    width: $width * 1px;
    height: $height * 1px;
  }
}

.csp {
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.tc {
  text-align: center;
}

// font

.fw {
  font-weight: bold;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

// flex

.fcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.blue {
  color: cornflowerblue;
}

