@import "reset";

.rec-container {
  width: 800px;
  margin: 10px auto;
  border-radius: 4px;
  > li {
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    .title {
      font-weight: bold;
    }
    &:last-child {
      margin-bottom: 0;
    }
    margin-bottom: 10px;
    table {
      width: 100%;
      padding: 0 10px;
    }
    tr {
      > td:nth-child(1) {
        width: 68px;
        text-align: right;
        color: $primary-red;
        font-size: 14px;
      }
      > td:nth-child(2) {
        width: calc(100% - 88px);
        text-align: left;
        font-size: 14px;
        color: $primary-gray;
      }
    }
  }
}

@media (max-width: 415px) {
  .rec-container {
    width: 100vw;
    > li {
      tr:first-child {
        td:nth-child(3) {
          -webkit-line-clamp: 4;
          width: calc(100vw - 108px);
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 13px;
  color: $primary-black;
  padding: 10px 0;
}

@media (min-width: 416px){
  .publish {
    right: 40px;
    bottom: 100px;
  }
}


